<div class='bg-breadcrumb'><div class='wrapper container-fluid'>
    <nav aria-label='breadcrumb'>
      <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='#'>Trang chủ</a></li>
        <li class='breadcrumb-item active' aria-current='page'><a href='#'>Tin
            tức</a></li>
        {{! <li class="breadcrumb-item active" aria-current="page">Data</li> }}
      </ol>
    </nav>
  </div>
</div>