<section class='my-4'>
    <div class='container-fluid wrapper'>
        <div class='row'>
            <div class='col-12 hangmuc-slide position-relative'>
                <!-- Slider main container -->
                <div class='swiper-container swiper-hangmuc'>
                    <!-- Additional required wrapper -->
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'>

                            <div class='card item'>
                                <a href='#' class='overlay'></a>
                                <div class='card-img ratio ratio-1x1'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1618220048045-10a6dbdf83e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fGZ1cm5pdHVyZXN8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top lazyload img-fluid'
                                        alt='...'
                                    />
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>
                                    <h6 class='card-subtitle my-2'>Card subtitle</h6>
                                    <span class='card-link' href='#'>
                                        <svg
                                            width='14'
                                            height='14'
                                            viewBox='0 0 14 14'
                                            fill='none'
                                            xmlns='http://www.w3.org/2000/svg'
                                        >
                                            <path
                                                d='M12.99 7.41161C13 7.40261 13.01 7.39361 13.01 7.38462C13.02 7.37562 13.02 7.36662 13.03 7.35763C13.04 7.34863 13.04 7.33963 13.05 7.33063C13.06 7.32164 13.06 7.31264 13.07 7.29465C13.08 7.28565 13.08 7.27665 13.09 7.26766C13.09 7.25866 13.1 7.24966 13.1 7.23167C13.1 7.22267 13.11 7.21368 13.11 7.19568C13.11 7.18668 13.12 7.17769 13.12 7.15969C13.12 7.1507 13.13 7.1417 13.13 7.12371C13.13 7.11471 13.13 7.09672 13.14 7.08772C13.14 7.07872 13.14 7.06973 13.14 7.06073C13.15 7.01574 13.15 6.97076 13.14 6.92578C13.14 6.91678 13.14 6.90778 13.14 6.89879C13.14 6.88979 13.14 6.87179 13.13 6.8628C13.13 6.8538 13.12 6.83581 13.12 6.82681C13.12 6.81781 13.11 6.80882 13.11 6.79082C13.11 6.78183 13.1 6.77283 13.1 6.75484C13.1 6.74584 13.09 6.73684 13.09 6.71885C13.09 6.70985 13.08 6.70085 13.07 6.69186C13.06 6.68286 13.06 6.67386 13.05 6.65587C13.04 6.64687 13.04 6.63788 13.03 6.62888C13.02 6.61988 13.02 6.61089 13.01 6.60189C13.01 6.59289 13 6.5839 12.99 6.5749C12.98 6.5659 12.98 6.55691 12.97 6.54791C12.95 6.52991 12.94 6.51192 12.92 6.49393L8.14 2.20243C7.84 1.93252 7.34 1.93252 7.04 2.20243C6.74 2.47233 6.74 2.92218 7.04 3.19208L10.49 6.296H0.78C0.35 6.296 0 6.61089 0 6.99775C0 7.38462 0.35 7.69951 0.78 7.69951H10.49L7.04 10.8034C6.74 11.0733 6.74 11.5232 7.04 11.7931C7.19 11.928 7.39 12 7.59 12C7.79 12 7.99 11.928 8.14 11.7931L12.92 7.49258C12.94 7.47458 12.96 7.45659 12.97 7.4386C12.98 7.4296 12.98 7.4206 12.99 7.41161Z'
                                                fill='white'
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class='swiper-slide'>

                            <div class='card item'>
                                <a href='#' class='overlay'></a>
                                <div class='card-img ratio ratio-1x1'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1618220048045-10a6dbdf83e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fGZ1cm5pdHVyZXN8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top lazyload img-fluid'
                                        alt='...'
                                    />
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>
                                    <h6 class='card-subtitle my-2'>Card subtitle</h6>
                                    <span class='card-link' href='#'>
                                        <svg
                                            width='14'
                                            height='14'
                                            viewBox='0 0 14 14'
                                            fill='none'
                                            xmlns='http://www.w3.org/2000/svg'
                                        >
                                            <path
                                                d='M12.99 7.41161C13 7.40261 13.01 7.39361 13.01 7.38462C13.02 7.37562 13.02 7.36662 13.03 7.35763C13.04 7.34863 13.04 7.33963 13.05 7.33063C13.06 7.32164 13.06 7.31264 13.07 7.29465C13.08 7.28565 13.08 7.27665 13.09 7.26766C13.09 7.25866 13.1 7.24966 13.1 7.23167C13.1 7.22267 13.11 7.21368 13.11 7.19568C13.11 7.18668 13.12 7.17769 13.12 7.15969C13.12 7.1507 13.13 7.1417 13.13 7.12371C13.13 7.11471 13.13 7.09672 13.14 7.08772C13.14 7.07872 13.14 7.06973 13.14 7.06073C13.15 7.01574 13.15 6.97076 13.14 6.92578C13.14 6.91678 13.14 6.90778 13.14 6.89879C13.14 6.88979 13.14 6.87179 13.13 6.8628C13.13 6.8538 13.12 6.83581 13.12 6.82681C13.12 6.81781 13.11 6.80882 13.11 6.79082C13.11 6.78183 13.1 6.77283 13.1 6.75484C13.1 6.74584 13.09 6.73684 13.09 6.71885C13.09 6.70985 13.08 6.70085 13.07 6.69186C13.06 6.68286 13.06 6.67386 13.05 6.65587C13.04 6.64687 13.04 6.63788 13.03 6.62888C13.02 6.61988 13.02 6.61089 13.01 6.60189C13.01 6.59289 13 6.5839 12.99 6.5749C12.98 6.5659 12.98 6.55691 12.97 6.54791C12.95 6.52991 12.94 6.51192 12.92 6.49393L8.14 2.20243C7.84 1.93252 7.34 1.93252 7.04 2.20243C6.74 2.47233 6.74 2.92218 7.04 3.19208L10.49 6.296H0.78C0.35 6.296 0 6.61089 0 6.99775C0 7.38462 0.35 7.69951 0.78 7.69951H10.49L7.04 10.8034C6.74 11.0733 6.74 11.5232 7.04 11.7931C7.19 11.928 7.39 12 7.59 12C7.79 12 7.99 11.928 8.14 11.7931L12.92 7.49258C12.94 7.47458 12.96 7.45659 12.97 7.4386C12.98 7.4296 12.98 7.4206 12.99 7.41161Z'
                                                fill='white'
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class='swiper-slide'>

                            <div class='card item'>
                                <a href='#' class='overlay'></a>
                                <div class='card-img ratio ratio-1x1'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1618220048045-10a6dbdf83e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fGZ1cm5pdHVyZXN8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top lazyload img-fluid'
                                        alt='...'
                                    />
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>
                                    <h6 class='card-subtitle my-2'>Card subtitle</h6>
                                    <span class='card-link' href='#'>
                                        <svg
                                            width='14'
                                            height='14'
                                            viewBox='0 0 14 14'
                                            fill='none'
                                            xmlns='http://www.w3.org/2000/svg'
                                        >
                                            <path
                                                d='M12.99 7.41161C13 7.40261 13.01 7.39361 13.01 7.38462C13.02 7.37562 13.02 7.36662 13.03 7.35763C13.04 7.34863 13.04 7.33963 13.05 7.33063C13.06 7.32164 13.06 7.31264 13.07 7.29465C13.08 7.28565 13.08 7.27665 13.09 7.26766C13.09 7.25866 13.1 7.24966 13.1 7.23167C13.1 7.22267 13.11 7.21368 13.11 7.19568C13.11 7.18668 13.12 7.17769 13.12 7.15969C13.12 7.1507 13.13 7.1417 13.13 7.12371C13.13 7.11471 13.13 7.09672 13.14 7.08772C13.14 7.07872 13.14 7.06973 13.14 7.06073C13.15 7.01574 13.15 6.97076 13.14 6.92578C13.14 6.91678 13.14 6.90778 13.14 6.89879C13.14 6.88979 13.14 6.87179 13.13 6.8628C13.13 6.8538 13.12 6.83581 13.12 6.82681C13.12 6.81781 13.11 6.80882 13.11 6.79082C13.11 6.78183 13.1 6.77283 13.1 6.75484C13.1 6.74584 13.09 6.73684 13.09 6.71885C13.09 6.70985 13.08 6.70085 13.07 6.69186C13.06 6.68286 13.06 6.67386 13.05 6.65587C13.04 6.64687 13.04 6.63788 13.03 6.62888C13.02 6.61988 13.02 6.61089 13.01 6.60189C13.01 6.59289 13 6.5839 12.99 6.5749C12.98 6.5659 12.98 6.55691 12.97 6.54791C12.95 6.52991 12.94 6.51192 12.92 6.49393L8.14 2.20243C7.84 1.93252 7.34 1.93252 7.04 2.20243C6.74 2.47233 6.74 2.92218 7.04 3.19208L10.49 6.296H0.78C0.35 6.296 0 6.61089 0 6.99775C0 7.38462 0.35 7.69951 0.78 7.69951H10.49L7.04 10.8034C6.74 11.0733 6.74 11.5232 7.04 11.7931C7.19 11.928 7.39 12 7.59 12C7.79 12 7.99 11.928 8.14 11.7931L12.92 7.49258C12.94 7.47458 12.96 7.45659 12.97 7.4386C12.98 7.4296 12.98 7.4206 12.99 7.41161Z'
                                                fill='white'
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class='swiper-slide'>

                            <div class='card item'>
                                <a href='#' class='overlay'></a>
                                <div class='card-img ratio ratio-1x1'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1618220048045-10a6dbdf83e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fGZ1cm5pdHVyZXN8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top lazyload img-fluid'
                                        alt='...'
                                    />
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>
                                    <h6 class='card-subtitle my-2'>Card subtitle</h6>
                                    <span class='card-link' href='#'>
                                        <svg
                                            width='14'
                                            height='14'
                                            viewBox='0 0 14 14'
                                            fill='none'
                                            xmlns='http://www.w3.org/2000/svg'
                                        >
                                            <path
                                                d='M12.99 7.41161C13 7.40261 13.01 7.39361 13.01 7.38462C13.02 7.37562 13.02 7.36662 13.03 7.35763C13.04 7.34863 13.04 7.33963 13.05 7.33063C13.06 7.32164 13.06 7.31264 13.07 7.29465C13.08 7.28565 13.08 7.27665 13.09 7.26766C13.09 7.25866 13.1 7.24966 13.1 7.23167C13.1 7.22267 13.11 7.21368 13.11 7.19568C13.11 7.18668 13.12 7.17769 13.12 7.15969C13.12 7.1507 13.13 7.1417 13.13 7.12371C13.13 7.11471 13.13 7.09672 13.14 7.08772C13.14 7.07872 13.14 7.06973 13.14 7.06073C13.15 7.01574 13.15 6.97076 13.14 6.92578C13.14 6.91678 13.14 6.90778 13.14 6.89879C13.14 6.88979 13.14 6.87179 13.13 6.8628C13.13 6.8538 13.12 6.83581 13.12 6.82681C13.12 6.81781 13.11 6.80882 13.11 6.79082C13.11 6.78183 13.1 6.77283 13.1 6.75484C13.1 6.74584 13.09 6.73684 13.09 6.71885C13.09 6.70985 13.08 6.70085 13.07 6.69186C13.06 6.68286 13.06 6.67386 13.05 6.65587C13.04 6.64687 13.04 6.63788 13.03 6.62888C13.02 6.61988 13.02 6.61089 13.01 6.60189C13.01 6.59289 13 6.5839 12.99 6.5749C12.98 6.5659 12.98 6.55691 12.97 6.54791C12.95 6.52991 12.94 6.51192 12.92 6.49393L8.14 2.20243C7.84 1.93252 7.34 1.93252 7.04 2.20243C6.74 2.47233 6.74 2.92218 7.04 3.19208L10.49 6.296H0.78C0.35 6.296 0 6.61089 0 6.99775C0 7.38462 0.35 7.69951 0.78 7.69951H10.49L7.04 10.8034C6.74 11.0733 6.74 11.5232 7.04 11.7931C7.19 11.928 7.39 12 7.59 12C7.79 12 7.99 11.928 8.14 11.7931L12.92 7.49258C12.94 7.47458 12.96 7.45659 12.97 7.4386C12.98 7.4296 12.98 7.4206 12.99 7.41161Z'
                                                fill='white'
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class='swiper-slide'>

                            <div class='card item'>
                                <a href='#' class='overlay'></a>
                                <div class='card-img ratio ratio-1x1'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1618220048045-10a6dbdf83e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTR8fGZ1cm5pdHVyZXN8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top lazyload img-fluid'
                                        alt='...'
                                    />
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>
                                    <h6 class='card-subtitle my-2'>Card subtitle</h6>
                                    <span class='card-link' href='#'>
                                        <svg
                                            width='14'
                                            height='14'
                                            viewBox='0 0 14 14'
                                            fill='none'
                                            xmlns='http://www.w3.org/2000/svg'
                                        >
                                            <path
                                                d='M12.99 7.41161C13 7.40261 13.01 7.39361 13.01 7.38462C13.02 7.37562 13.02 7.36662 13.03 7.35763C13.04 7.34863 13.04 7.33963 13.05 7.33063C13.06 7.32164 13.06 7.31264 13.07 7.29465C13.08 7.28565 13.08 7.27665 13.09 7.26766C13.09 7.25866 13.1 7.24966 13.1 7.23167C13.1 7.22267 13.11 7.21368 13.11 7.19568C13.11 7.18668 13.12 7.17769 13.12 7.15969C13.12 7.1507 13.13 7.1417 13.13 7.12371C13.13 7.11471 13.13 7.09672 13.14 7.08772C13.14 7.07872 13.14 7.06973 13.14 7.06073C13.15 7.01574 13.15 6.97076 13.14 6.92578C13.14 6.91678 13.14 6.90778 13.14 6.89879C13.14 6.88979 13.14 6.87179 13.13 6.8628C13.13 6.8538 13.12 6.83581 13.12 6.82681C13.12 6.81781 13.11 6.80882 13.11 6.79082C13.11 6.78183 13.1 6.77283 13.1 6.75484C13.1 6.74584 13.09 6.73684 13.09 6.71885C13.09 6.70985 13.08 6.70085 13.07 6.69186C13.06 6.68286 13.06 6.67386 13.05 6.65587C13.04 6.64687 13.04 6.63788 13.03 6.62888C13.02 6.61988 13.02 6.61089 13.01 6.60189C13.01 6.59289 13 6.5839 12.99 6.5749C12.98 6.5659 12.98 6.55691 12.97 6.54791C12.95 6.52991 12.94 6.51192 12.92 6.49393L8.14 2.20243C7.84 1.93252 7.34 1.93252 7.04 2.20243C6.74 2.47233 6.74 2.92218 7.04 3.19208L10.49 6.296H0.78C0.35 6.296 0 6.61089 0 6.99775C0 7.38462 0.35 7.69951 0.78 7.69951H10.49L7.04 10.8034C6.74 11.0733 6.74 11.5232 7.04 11.7931C7.19 11.928 7.39 12 7.59 12C7.79 12 7.99 11.928 8.14 11.7931L12.92 7.49258C12.94 7.47458 12.96 7.45659 12.97 7.4386C12.98 7.4296 12.98 7.4206 12.99 7.41161Z'
                                                fill='white'
                                            ></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- If we need pagination -->
                    {{! <div class='swiper-pagination'></div> }}

                    <!-- If we need scrollbar -->
                    <div class='swiper-scrollbar'></div>
                </div>
                <!-- If we need navigation buttons -->
                <div class='swiper-button-prev'></div>
                <div class='swiper-button-next'></div>
            </div>
        </div>
    </div>
</section>
<section class='my-5'>
    <div class='container-fluid wrapper'>
        <div class='row'>
            <h2 class='col-12 h4 fw-bold mb-4'>
                Danh mục sản phẩm hàng đầu của chúng tôi
            </h2>
            <div class='col-12 danhmuc-slide position-relative'>
                <!-- Slider main container -->
                <div class='swiper-container swiper-danhmuc'>
                    <!-- Additional required wrapper -->
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                    <!-- Preloader image -->

                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                        <div class='swiper-slide'>

                            <div class='card'>
                                <a href='#' class='overlink'></a>
                                <div class='card-img ratio ratio-3x4'>
                                    <img
                                        data-src='https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDF8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
                                        class='card-img-top swiper-lazy img-fluid'
                                        alt='...'
                                    /><div
                                        class='swiper-lazy-preloader swiper-lazy-preloader-black'
                                    ></div>
                                </div>
                                <div class='card-body'>
                                    <h5 class='card-title'>Card title</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    {{! <div class='swiper-pagination'></div> }}

                    <!-- If we need scrollbar -->
                    <div class='swiper-scrollbar'></div>
                </div>
                <!-- If we need navigation buttons -->
                <div class='swiper-button-prev'></div>
                <div class='swiper-button-next'></div>
            </div>
        </div>
    </div>
</section>