<div class='header fixed-top'>

    <nav class='navbar navbar-dark text-light top-nav bg-primary py-1'>

        <div class='container-fluid wrapper justify-content-start small'>
            <div class='row g-0 w-100'>
                <div class='col-xl-2'></div>
                <div class='col-xl-8 tooth text-center'>
                    {{! DANH SÁCH CÁC NHÀ
          <a href='#'>BÁN HÀNG</a>
          CỦA CHÚNG TÔI:
          <a href='#'>MUA NGAY</a> }}
                </div>
                <div class='col-xl-2 d-flex justify-content-end'>
                    <span>Ngôn ngữ</span>
                    <a href='#' class='ms-2'>
                        <img
                            data-src='./assets/images/icon-vietnam.svg'
                            alt='#'
                            class='lazyload'
                        />
                    </a>
                    <a href='#' class='ms-2'>
                        <img
                            data-src='./assets/images/icon-eng.svg'
                            alt='#'
                            class='lazyload'
                        />
                    </a>
                    <a href='#' class='ms-2'>
                        <img
                            data-src='./assets/images/icon-setup.svg'
                            height='20'
                            alt='#'
                            class='lazyload'
                        />
                    </a>
                </div>
            </div>

        </div>

    </nav>

    <nav
        class='navbar navbar-expand-lg navbar-light bg-white flex-wrap nav-main'
    >
        <a
            class='click-menu d-none d-xl-flex'
            href='#'
            data-bs-toggle='offcanvas'
            data-bs-target='#offcanvas'
        >
            <svg
                focusable='false'
                class='svg-icon hnf-svg-icon'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='black'
                xmlns='http://www.w3.org/2000/svg'
            >
                <path
                    fill-rule='evenodd'
                    clip-rule='evenodd'
                    d='M20 8H4V6h16v2zm0 5H4v-2h16v2zm0 5H4v-2h16v2z'
                ></path>
            </svg>
        </a>
        <div class='container-fluid wrapper d-block'>
            <div class='row g-0 w-100'>
                <div class='col-5 col-lg-4'>
                    <a
                        class='navbar-brand text-center d-block d-lg-none'
                        href='/'
                    >
                        <img
                            data-src='./assets/images/logo.svg'
                            alt='#'
                            class='lazyload img-fluid'
                        />
                    </a>
                </div>
                <div class='col-4 d-none d-lg-block'>
                    <div
                        class='collapse navbar-collapse p-0 text-center'
                        id='navbarSupportedContent'
                    >
                        <ul
                            class='navbar-nav mx-auto w-100 justify-content-between'
                        >
                            <li class='nav-item'>
                                <a
                                    class='nav-link active'
                                    aria-current='page'
                                    href='/'
                                >
                                    Trang chủ</a>
                            </li>
                            <li class='nav-item text-center'>

                                <a
                                    class='navbar-brand text-center m-0 p-0'
                                    href='/'
                                >
                                    <img
                                        data-src='./assets/images/logo.svg'
                                        alt='#'
                                        class='lazyload img-fluid'
                                    />
                                </a>

                            </li>
                            <li class='nav-item'>
                                <a
                                    class='nav-link'
                                    aria-current='page'
                                    href='/thucteao.html'
                                >
                                    Thực tế ảo</a>
                            </li>

                        </ul>

                    </div>
                </div>
                <div
                    class='col-7 col-lg-4 d-flex justify-content-lg-end justify-content-end'
                >
                    <div class='icons d-flex align-items-center'>
                        <div class='d-block d-lg-none'>
                           
                                href='/thucteao.html'
                                class='small text-dark text-nowrap mx-1'
                            >Thực tế ảo</a>
                        </div>
                        <div class='d-none d-lg-flex align-items-center'>
                            <a
                                href='#'
                                class='btn btn-cataloge d-flex align-items-center d-none d-xl-flex me-1'
                            >
                                <svg
                                    width='16'
                                    height='16'
                                    viewBox='0 0 16 16'
                                    fill='none'
                                    xmlns='http://www.w3.org/2000/svg'
                                >
                                    <g clip-path='url(#clip0)'>
                                        <path
                                            d='M6.06523 11.68C9.16603 11.68 11.6798 9.16633 11.6798 6.06548C11.6798 2.96465 9.16603 0.450928 6.06523 0.450928C2.9644 0.450928 0.450684 2.96465 0.450684 6.06548C0.450684 9.16633 2.9644 11.68 6.06523 11.68Z'
                                            stroke='#231F20'
                                            stroke-width='1.2567'
                                            stroke-miterlimit='10'
                                        ></path>
                                        <path
                                            d='M9.99268 10.0728L14.9599 15.0473'
                                            stroke='#231F20'
                                            stroke-width='1.2567'
                                            stroke-miterlimit='10'
                                        ></path>
                                    </g>
                                    <defs>
                                        <clipPath id='clip0'>
                                            <rect
                                                width='16'
                                                height='16'
                                                fill='white'
                                            ></rect>
                                        </clipPath>
                                    </defs>
                                </svg>

                                <span class='ms-1'>Tìm kiếm</span></a>

                        </div>

                        <a
                            class='click-menu d-flex d-xl-none'
                            href='#'
                            data-bs-toggle='offcanvas'
                            data-bs-target='#offcanvas'
                        >
                            <svg
                                focusable='false'
                                class='svg-icon hnf-svg-icon'
                                width='24'
                                height='24'
                                viewBox='0 0 24 24'
                                fill='black'
                                xmlns='http://www.w3.org/2000/svg'
                            >
                                <path
                                    fill-rule='evenodd'
                                    clip-rule='evenodd'
                                    d='M20 8H4V6h16v2zm0 5H4v-2h16v2zm0 5H4v-2h16v2z'
                                ></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

</div>
<div class='wrapper'>
    <div class='d-flex position-relative w-100 d-block d-lg-none mt-2 mb-2'>
        <img
            data-src='./assets/images/icon-search.svg'
            alt='#'
            class='lazyload icon-search position-absolute'
            height='16'
        />
        <img
            data-src='./assets/images/icon-camera.svg'
            alt='#'
            class='lazyload icon-camera position-absolute'
            height='16'
        />
        <input
            class='form-control search-style'
            type='search'
            placeholder='Bạn cần tìm kiếm thông tin ?'
            aria-label='Search'
        />
    </div>
</div>