<section class='my-5 khampha'>
  <div class='container-fluid wrapper'>
    <div class='row'>
      <h2 class='col-12 h4 fw-bold mb-4'>
        Thông tin hữu ích
      </h2>
      <div class='col-lg-6'>
        <div class='card rounded-0 border-0'>

          <div class='ratio ratio-16x9'>
            <img
              data-src='https://images.unsplash.com/photo-1616464916356-3a777b2b60b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
              class='card-img-top lazyload img-fluid rounded-0'
              alt='...'
            />
          </div>
          <div class='card-body px-0'>
            <h6 class='card-title fw-bold'>HTV ĐƯA TIN XUÂN HÒA ĐẠT GIẢI THƯỞNG
              CHẤT LƯỢNG QUỐC GIA 2020</h6>

            <p class='card-text'>Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a
              class='h6 card-subtitle mt-2 btn btn-primary fw-bold px-4 rounded-pill'
            >Tin tức Xuân Hoà</a>
          </div>
        </div>
      </div>
      <div class='col-lg-6'>
        <div class='card rounded-0 border-0'>
          <div class='ratio ratio-16x9'>
            <img
              data-src='https://images.unsplash.com/photo-1616464916356-3a777b2b60b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlc3xlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
              class='card-img-top lazyload img-fluid rounded-0'
              alt='...'
            />
          </div>
          <div class='card-body px-0'>
            <h6 class='card-title fw-bold'>TỔNG HỢP CÁC KIẾN THỨC CƠ BẢN VỀ
              THIẾT KẾ NỘI THẤT MÀ BẠN KHÔNG NÊN BỎ QUA</h6>

            <p class='card-text'>Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a
              class='h6 card-subtitle mt-2 btn btn-primary fw-bold px-4 rounded-pill'
            >Xu hướng nội thất</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>