<div class="search col-12 col-xl-8 col-xxl-6 p-0">
    <div class="row g-0">
        <div class="country col-sm-5 col-6">
            {{!-- <label class="small" for="one" id="country"><i class="fas fa-map-marker-alt me-2"></i>Country</label>
            --}}
            <div class="dropdown dropup">
                <button class="btn btn-secondary dropdown-toggle search-country" role="button" id="dropdownCountry"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-map-marker-alt me-2"></i>Country
                </button>

                <ul class="dropdown-menu dropdown-menu-dark ul-search-country" aria-labelledby="dropdownCountry">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="style-tour col-sm-5 col-6">
            {{!-- <label class="small" for="one"><i class="fas fa-suitcase-rolling me-2"></i> Style</label> --}}
            <div class="dropdown dropup">
                <button class="btn btn-secondary dropdown-toggle search-style" role="button" id="dropdownStyle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-suitcase-rolling me-2"></i> Style
                </button>

                <ul class="dropdown-menu dropdown-menu-dark ul-search-style" aria-labelledby="dropdownStyle">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="button-search col-sm-2"><a href=" #"><img data-src="./assets/images/arrow-white.svg"
                    class="lazyload me-2 text=white" alt="#">Cerca</a>
        </div>
    </div>
</div>