<section class="has-padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12">
                <h2 class="title fs-1">TOUR 100% CUSTOMIZED</h2>
                <div class="lead mb-4">Il miglior esperto di viaggi in Indocina ...</div>
            </div>


        </div>
        <div class="row m-0 steps">
            <div class="col text-center steps-item">
                <figure class="figure whyus">
                    <picture>

                        <source data-srcset="http://www.asiatica-travel.pt/icon/step1.png" type="image/jpg"
                            srcset="http://www.asiatica-travel.pt/icon/step1.png">
                        <img data-src="http://www.asiatica-travel.pt/icon/step1.png"
                            class="img-fluid mx-auto ls-is-cached lazyloaded" alt=""
                            src="http://www.asiatica-travel.pt/icon/step1.png">
                    </picture>

                    <figcaption class="figure-caption whyus__caption">
                        <div class="whyus__name">
                            Envie-nos um pedido grátis

                        </div>
                        <hr class="featurette-divider w-50 mx-auto">
                        <div class="whyus__des">
                            Entre em contato com a Asiatica Travel, contando suas ideias
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col text-center steps-item">
                <figure class="figure whyus">
                    <picture>

                        <source data-srcset="http://www.asiatica-travel.pt/icon/step2.png" type="image/jpg"
                            srcset="http://www.asiatica-travel.pt/icon/step2.png">
                        <img data-src="http://www.asiatica-travel.pt/icon/step2.png"
                            class="img-fluid mx-auto ls-is-cached lazyloaded" alt=""
                            src="http://www.asiatica-travel.pt/icon/step2.png">
                    </picture>

                    <figcaption class="figure-caption whyus__caption">
                        <div class="whyus__name">
                            Modifique seu passeio
                        </div>
                        <hr class="featurette-divider w-50 mx-auto">
                        <div class="whyus__des">
                            Criar seu itinerário personalizado com nossa consultora falando português
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col text-center steps-item">
                <figure class="figure whyus">
                    <picture>

                        <source data-srcset="http://www.asiatica-travel.pt/icon/step3.png" type="image/jpg"
                            srcset="http://www.asiatica-travel.pt/icon/step3.png">
                        <img data-src="http://www.asiatica-travel.pt/icon/step.png"
                            class="img-fluid mx-auto ls-is-cached lazyloaded" alt=""
                            src="http://www.asiatica-travel.pt/icon/step.png">
                    </picture>

                    <figcaption class="figure-caption whyus__caption">
                        <div class="whyus__name">
                            Confirme sua viagem
                        </div>
                        <hr class="featurette-divider w-50 mx-auto">
                        <div class="whyus__des">
                            Chegar a um acordo e nos autoriza a organizar a sua viagem
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col text-center steps-item">
                <figure class="figure whyus">
                    <picture>

                        <source data-srcset="http://www.asiatica-travel.pt/icon/step4.png" type="image/jpg"
                            srcset="http://www.asiatica-travel.pt/icon/step4.png">
                        <img data-src="http://www.asiatica-travel.pt/icon/step4.png"
                            class="img-fluid mx-auto ls-is-cached lazyloaded" alt=""
                            src="http://www.asiatica-travel.pt/icon/step4.png">
                    </picture>

                    <figcaption class="figure-caption whyus__caption">
                        <div class="whyus__name">
                            Reserva de Serviços
                        </div>
                        <hr class="featurette-divider w-50 mx-auto">
                        <div class="whyus__des">
                            Asiatica Travel reserva todos os serviços para a sua viagem
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col text-center steps-item">
                <figure class="figure whyus">
                    <picture>

                        <source data-srcset="http://www.asiatica-travel.pt/icon/step5.png" type="image/jpg"
                            srcset="http://www.asiatica-travel.pt/icon/step5.png">
                        <img data-src="http://www.asiatica-travel.pt/icon/step5.png"
                            class="img-fluid mx-auto ls-is-cached lazyloaded" alt=""
                            src="http://www.asiatica-travel.pt/icon/step5.png">
                    </picture>

                    <figcaption class="figure-caption whyus__caption">
                        <div class="whyus__name">
                            Saia com tranquilidade!
                        </div>
                        <hr class="featurette-divider w-50 mx-auto">
                        <div class="whyus__des">
                            Faça sua mala e desfrute de uma viagem sem preocupações
                        </div>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>

</section>