<section class='mx-auto wrapper'>
    <img data-src='./assets/images/footer.svg' class='lazyload w-100 mt-5' alt='' />
</section>
<footer class="footer">
    <section class="py-5">
        <div class="container-fluid wrapper">
            <div class="row topfoot">
                <div class="col-lg-5">
                    <h4 class="fw-bolder mb-3 h5">CÔNG TY CỔ PHẦN XUÂN HÒA VIỆT NAM</h4>
                    <div class="row g-1">
                        <div class="col-4"><strong><i class="fas fa-home me-1"></i> Trụ sở / nhà máy:</strong></div>
                        <div class="col-8">Đường Nguyễn Văn Linh, Phường Xuân Hòa,
                            Thành phố Phúc Yên, Tỉnh Vĩnh Phúc</div>
                        <div class="col-4"><strong><i class="fas fa-phone me-1 fa-flip-horizontal"></i>
                                Hotline:</strong></div>
                        <div class="col-8">1800 6692
                        </div>
                        <div class="col-4"><strong><i class="fas fa-envelope me-1"></i> Email:</strong></div>
                        <div class="col-8">info@xuanhoa.vn
                        </div>
                        <div class="col-12 text-end my-3">
                            <a class="text-decoration-underline small" data-bs-toggle="collapse" href="#fullfooter"
                                role="button" aria-expanded="false" aria-controls="fullfooter">Thêm thông tin</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-12 order-1 order-xl-0  text-center">
                    <a href="#"><img data-src="./assets/images/dmca.jpg" alt="#" class="lazyload img-fluid px-2"></a>
                    <div class="d-flex justify-content-center icon-foot my-1">
                        <a href="#" class="rounded border-white border px-4 py-3"> <i
                                class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="#" class="rounded border-white border px-4 py-3"> <i
                                class="fab fa-youtube fa-2x"></i></i></a>
                    </div>
                    <p>© 2021 Copyright Xuan Hoa <br>
                        Design by <a href="https://checkvn.vn/" target="_blank">CheckVN</a></p>
                </div>
                <div class="col-lg-4 col-12 my-3 mt-xl-0 text-xl-end order-0 order-xl-1 ">
                    <h5>ĐĂNG KÝ NHẬN BẢN TIN</h5>
                    <p>Đừng bỏ lỡ hàng ngàn sản phẩm
                        và chương trình siêu hấp dẫn</p>
                    <div class="row gx-1">
                        <div class="col-8">
                            <input type="email" class="form-control" placeholder="Email của bạn"
                                aria-label="Email của bạn">
                        </div>
                        <div class="col-4">
                            <a class="btn btn-primary border-dark rounded-0 w-100" href="#" role="button"> ĐĂNG KÝ</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="collapse" id="fullfooter">

                <div class="row mt-4">
                    <div class="col-xl-4">
                        <h5 class="text-uppercase">Gioi thieu <i class="fas fa-angle-down ms-1"></i></h5>
                        <p>Công ty Cổ phần Xuân Hòa Việt Nam (Xuân Hòa) – do Cộng Hòa Pháp tài trợ (qua thương hiệu của
                            hãng xe Peugeot), là một trong những doanh nghiệp hàng đầu Việt Nam về tư vấn, thiết kế và
                            sản xuất trang thiết bị nội thất …</p>
                        <div class="mt-4">
                            <h4 class="h5  mb-3">CÔNG TY CỔ PHẦN XUÂN HÒA VIỆT NAM</h4>
                            <div class="row gy-2">

                                <div class="col-lg-12 d-flex ">
                                    <i class="fas fa-home me-1 pt-1"></i>
                                    <div>
                                        <h6 class="fw-bold mb-0">Trụ sở / nhà máy:</h6> Đường Nguyễn Văn Linh, Phường
                                        Xuân Hòa,
                                        Thành phố Phúc Yên, Tỉnh Vĩnh Phúc
                                    </div>
                                </div>

                                <div class="col-lg-12 d-flex "><i class="fas fa-phone me-1 pt-1 fa-flip-horizontal"></i>
                                    <span>Tel: (84)(211) 3863244 / 3877126</span>
                                </div>
                                <div class="col-lg-12 d-flex "><i class="fas fa-fax me-1 pt-1 fa-flip-horizontal"></i>
                                    <span> Fax: (84)(211) 3863019 / 3879668</span>
                                </div>
                                <div class="col-lg-12 d-flex "><i class="fas fa-envelope pt-1 me-1"></i>
                                    <span>Email:info@xuanhoa.vn</span>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 offset-xl-1">

                        <div class="row">
                            <div class="col-12  mb-4">
                                <div class="footer-infos-address">
                                    <strong class="text-uppercase"><i class="fas fa-map-marker-alt me-1"></i>VĂN PHÒNG
                                        HÀ NỘI
                                    </strong>
                                    <p>Số 7, Phố Yên Thế, Phường Điện Biên, Quận Ba Đình, Thành Phố Hà Nội</p>
                                    <p><i class="fas fa-phone me-1 fa-flip-horizontal"></i>Tel: (84)(243) 3686969
                                    </p>
                                </div>
                            </div>
                            <div class="col-12  mb-4">
                                <div class="footer-infos-address">
                                    <strong class="text-uppercase"><i class="fas fa-map-marker-alt me-1"></i>VĂN PHÒNG
                                        ĐÀ NẴNG</strong>
                                    <p> Số 5, Lô 30, Xô Viết Nghệ Tĩnh, P. Hòa Cường Nam, Quận Hải Châu, TP. Đà Nẵng
                                    </p>
                                    <p><i class="fas fa-phone me-1 fa-flip-horizontal"></i>Tel: (84)(23) 6364 3333 |
                                        (84)(23) 6368 0666</p>
                                </div>
                            </div>
                            <div class="col-12  mb-2">
                                <div class="footer-infos-address">
                                    <strong class="text-uppercase"><i class="fas fa-map-marker-alt me-1"></i>VĂN PHÒNG
                                        HỒ CHÍ MINH</strong>
                                    <p> Lô số 115, đường số 4, Khu chế xuất Linh Trung, P. Linh Trung, Q. Thủ Đức, TP.
                                        Hồ Chí Minh </p>
                                    <p><i class="fas fa-phone me-1 fa-flip-horizontal"></i>Tel: (84)(283) 724 5598</p>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="col-xl-3 offset-xl-1">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-uppercase">Ngân HÀNG <i class="fas fa-angle-down ms-1"></i></h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#" class="link">Gia đình</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">Trường học</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">Văn phòng</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">Công cộng</a>
                                    </li>
                                    <li>
                                        <a href="#" class="link">Y tế</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h5 class="text-uppercase">THÔNG TIN <i class="fas fa-angle-down ms-1"></i></h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="link" href="#">Sản phẩm</a>
                                    </li>
                                    <li>
                                        <a class="link" href="#">Đại lý</a>
                                    </li>
                                    <li>
                                        <a class="link" href="#">Tuyển dụng</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </section>

</footer>