<footer class="footer">
    <section class="py-2">
        <div class="container-fluid wrapper">
            <div class="row topfoot">
                <div class="col-12 d-flex justify-content-between text-white">
                    <span class="m-0">CÔNG TY CỔ PHẦN XUÂN HÒA VIỆT NAM</span>
                    <span>© 2021 Copyright Xuan Hoa</span>
                </div>
            </div>
    </section>
</footer>